<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
<body>
    <form name="sendForm" method="post">
        <input type="hidden" name="agentId" value="<%= agentId %>" />
        <input type="hidden" name="errCode" value="<%= resultCode %>" />
        <input type="hidden" name="secureSessionId" value="<%= secureSessionId %>" />
    </form>

    <script>
        var sendUrl = "<%= returnUrl %>";
        var sendForm = document.sendForm;
        
        sendForm.action = sendUrl;
        sendForm.submit();
    </script>
</body>
</html>